
a{
    color: #221e1f;
}
.top-header{
    background-color: #f59d3c;
    height: 100vh;
}
.main-contant1{
    background-color: #aacb49;
    height: 100vh;
}
.main-contant2{
    background-color: #f4e600;
    height: 100vh;
}
.main-contant3{
    background-color: white;
    height: 100vh;
}
.main-contant4{
    background-color: #a8c836;
    height: 100vh;
}
#main-img{
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}
#skills-img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: contain;
}
#last-img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: contain;
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    position: fixed;
    z-index: 1;
    right: 0;
    width: 100%;

}
.nav-menu li {
    margin-right: 25px;
    margin-top: 50px;

}
.author-address{
    font-size: 70px;
    text-align: center;
    padding-top: 150px;
}
.author-prof{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}
.nav-link:hover{
    color: white;
    background-color: #221e1f;
    padding: 5px;
}
#menu li.active a{
    color: white;
    background-color: #221e1f;
    padding: 5px;

}
.nav-menu-h{
    width: 100px;
    height: 50px;
    text-align: center;

}
li:hover{
    transform: rotate(0deg) scale(1.1,1.1) ;
    z-index: 999;
    transition: transform 300ms linear 0ms,
    box-shadow 300ms linear 0ms, z-index 300ms linear 0ms;
}
.left ul li:hover{
    transform: rotate(0deg) scale(1.1,1.1) ;
    z-index: 999;
    transition: transform 400ms linear 0ms,
    box-shadow 400ms linear 0ms, z-index 300ms linear 0ms;
}
.skills-left:hover::before{
    transform: rotate(0deg) scale(0,0) ;
    z-index: 999;
    transition: transform 600ms linear 0ms,
    box-shadow 600ms linear 0ms, z-index 300ms linear 0ms;
    left: 140px;

}.skills-right:hover::before{
    transform: rotate(0deg) scale(0,0) ;
    z-index: 999;
    transition: transform 600ms linear 0ms,
    box-shadow 600ms linear 0ms, z-index 300ms linear 0ms;
    left: 124px;

}
.skills-left:hover::after{
    content: none;
}
.Logo{
    width: 44px;
    height: 50px;
    position: absolute;
    left: 25px;
    margin: 15px;
    top: 5px;

}
#hide{
    background-color: transparent !important;

}
#Logo{
    margin-top: 0;
    width: 65px;
    height: 70px;
    position: absolute;
    left: 0;
}
#span_Previous{
    border: 30px solid transparent;
    border-right: 30px solid black;
    display: block;
    width: 0;
    height: 0;
    transform: rotate(0deg);
}
#span_Next{
    border: 30px solid transparent;
    border-left: 30px solid black;
    display: block;
    width: 0;
    height: 0;
    transform: rotate(0deg);
}
#My-design-text{
    position: absolute;
    top: 110px;
    left: 60px;
    line-height: 1.3;
    font-size: 20px;
}

.slider-img1{
    width: 100vw;
    height: 100vh;
    padding: 140px;
    object-fit: contain;
}
.text-black{
    color: black;
}
#face-contacts{
    font-size: 20px;
    z-index: 1;
    right: 0;
    top: 125px;
    margin-right: 25px;
    display: grid;
    justify-content: flex-end;
    position: absolute;

    width: 100%;
}

.face-c{
    margin-bottom: 20px;
    text-align: center;
    padding: 5px;
    display: grid;
}
.face-c:hover{
    background-color: #221e1f;
    color: white;
    transform: rotate(0deg) scale(1.1,1.1) ;
    z-index: 999;
    transition: transform 300ms linear 0ms,
    box-shadow 300ms linear 0ms, z-index 300ms linear 0ms;
}
.face-c a:hover{
     color: white;
 }
.img-icon{
    margin-left: 25px;
}
#my-skills{
    width: 55vw;
    background-color: #231f20;
    height: 40vh;
    position: absolute;
    top: 60%;
    margin: -15% 0 0 0;
    display: flex;
}
.left{
    width: 50%;
    display: grid;
}.right{
    width: 50%;
     display: grid;
}
.programs{
    display: inline-grid;
    color: #aeaf7d;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.skills-left{
    text-align: center;
    position: relative;
}

.skills-right{
    text-align: center;
    width: 115px;
    height: 14px;
    position: relative;
}
.progress1:before{
    content: "";
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 16px;
    height: 16px;
    background: #fae721;
    border-radius: 50%;
    z-index: 22;
    position: absolute;
    left: 140px;
    transition: transform 1s;
}

.progress:before{
    content: "";
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 16px;
    height: 16px;
    background: #fae721;
    border-radius: 50%;
    z-index: 22;
    left: 125px;
    position: absolute;
    transition: transform 1s;
   ;
}
.progress2:before{
    content: "";
    width: 8px;
    height: 16px;
    background: #fae721;
    z-index: 22;
    position: absolute;
    left: 134px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    transition: transform 1s;
}
.progress3:before{
    content: "";
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 16px;
    height: 16px;
    background: #fae721;
    border-radius: 50%;
    z-index: 22;
    position: absolute;
    left: 140px;
    transition: transform 1s;
}
.progress3:after{
    content: "";
    width: 16px;
    height: 16px;
    z-index: 22;
    position: absolute;
    left: 135px;
    border-bottom: 16px solid #231f20;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 0;
    transform: rotate(84deg);
    transition: transform 1s;
}
#img-about{
    display: inline-grid;
    width: 396px;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
    padding-top: 56.25%;
    margin-left: 50px;

}
#about-pos{
    width: 100vw;
    height: 100vh;

    position: absolute;
    display: flex;
}
#text-about{
    display: inline-grid;
    width: 50%;
    height: 65%;
    align-items: center;
    justify-content: center;
}

#img-about-me{
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
}
@media screen and (max-device-width:768px){
    #menu :focus{
        color: black;
        background-color: transparent;
        transform: none ;
       }
    .nav-menu li {
        margin-right: 0;
        margin-top: 25px;
    }

}

