
a{
    color: #221e1f;
}
.all {
    width: 100%;
    height: 100vh;
}
.top-header{
    background-color: #FAA437;
    height: 100vh;
    display: grid;
    
    
}
.logo2{
    z-index: 1;
    align-self: center;
    width: 100%;
    position: absolute;
    margin-top: 18%;
    display: grid;
    
}

.logo2 img {
    justify-self: center;
}

.logo2 img: hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 1s;
} 
    

.contain-pic {
    display:grid;
    width: 94%;
    height: 80vh;
    margin-left: 20px;
    align-self: center;
    justify-self: center;
    grid-template-columns: 4fr 3fr 3fr 2fr 3fr 3fr 1fr;
    grid-template-rows: 2fr 4fr 2fr 1fr 2fr 2fr 1fr;
}
.pic1{
    display: grid;
    grid-column: 6/8;
    grid-row: 3/6;

}
.pic1 img {
    width: 70%;
    align-self: end;
    margin-left: 36px;
    
}
.pic1 img:hover
{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    transition: transform 1s;
}

.pic2 {
    display: grid;
    grid-column: 2;
    grid-row: 1/3;
    order: 2;
}
.pic2 img {
    width: auto;
    height: 100%;
    align-self: start;
    
}

.pic img:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


.pic3{
    grid-column: 3/5;
    grid-row: 4/8;
}
.pic3 img{
    width: auto;
    height: 100%;
    margin-top: 15px;
    margin-left: 100px;
    -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;}
.sidepan img:hover {

}

.pic4{
    grid-column: 1;
    grid-row:4/7;

}
.pic4 img{
    width: 100%;
    height: auto;
    align-self: end;
}
.pic4 img:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 1s;
}
.textlogo {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: aquamarine;
}

.main-contant1{
    background-color: #aacb49;
    height: 100vh;
    
}
.main-contant2{
    background-color: #f4e600;
    height: 100vh;
    display: grid;
}
.galerry img:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 1s;
}

.galerry{
    display:grid;
    width: 94%;
    height: 75vh;
    margin-left: 20px;
    align-self: center;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);

    grid-gap: 5px;
}
.galerry img{
    width:100%;
    height: auto;
    border-radius: 10%;
    
}

.main-contant3{
    background-color: white;
    height: 100vh;
}

#skills-img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: contain;
}
#last-img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: contain;
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    position: fixed;
    z-index: 1;
    right: 0;
    width: 100%;

}
.nav-menu li {
    margin-right: 25px;
    margin-top: 50px;

}
.author-address{
    font-size: 70px;
    text-align: center;
    padding-top: 150px;
}
.author-prof{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}
.nav-link:hover{
    color: white;
    background-color: #221e1f;
    padding: 5px;
}
#menu li.active a{
    color: white;
    background-color: #221e1f;
    padding: 5px;

}
.nav-menu-h{
    width: 100px;
    height: 50px;
    text-align: center;

}
li:hover{
    transform: rotate(0deg) scale(1.1,1.1) ;
    z-index: 999;
    transition: transform 300ms linear 0ms,
    box-shadow 300ms linear 0ms, z-index 300ms linear 0ms;
}
.left ul li:hover{
    transform: rotate(0deg) scale(1.1,1.1) ;
    z-index: 999;
    transition: transform 400ms linear 0ms,
    box-shadow 400ms linear 0ms, z-index 300ms linear 0ms;
}
.skills-left:hover::before{
    transform: rotate(0deg) scale(0,0) ;
    z-index: 999;
    transition: transform 600ms linear 0ms,
    box-shadow 600ms linear 0ms, z-index 300ms linear 0ms;
    left: 140px;
}
    
    .Logo{
    width: 44px;
    height: 50px;
    position: absolute;
    left: 25px;
    margin: 15px;
    top: 5px;

}
#hide{
    background-color: transparent !important;

}
#Logo{
    margin-top: 0;
    width: 65px;
    height: 70px;
    position: absolute;
    left: 0;
}
#span_Previous{
    border: 30px solid transparent;
    border-right: 30px solid black;
    display: block;
    width: 0;
    height: 0;
    transform: rotate(0deg);
}
#span_Next{
    border: 30px solid transparent;
    border-left: 30px solid black;
    display: block;
    width: 0;
    height: 0;
    transform: rotate(0deg);
}
#My-design-text{
    position: absolute;
    top: 110px;
    left: 60px;
    line-height: 1.3;
    font-size: 20px;
}

.slider-img1{
    width: 100vw;
    height: 100vh;
    padding: 140px;
    object-fit: contain;
    background-color: orange;
}

.text-black{
    color: black;
    font-size: 20px;
    line-height: 22px;

}
.text-design{
    display: grid;
    width: 50%;
    position: relative;
    top: 110px;
    left: 60px;
    line-height: 1.3;
    font-size: 20px;
}

}
#my-skills{
    width: 55vw;
    background-color: #231f20;
    height: 40vh;
    position: absolute;
    top: 60%;
    margin: -15% 0 0 0;
    display: flex;
}
.left{
    width: 50%;
    display: grid;
}.right{
    width: 50%;
     display: grid;
}
.programs{
    display: inline-grid;
    color: #aeaf7d;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.progress1:before{
    content: "";
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 16px;
    height: 16px;
    background: #fae721;
    border-radius: 50%;
    z-index: 22;
    position: absolute;
    left: 140px;
    transition: transform 1s;
}

.progress:before{
    content: "";
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 16px;
    height: 16px;
    background: #fae721;
    border-radius: 50%;
    z-index: 22;
    left: 125px;
    position: absolute;
    transition: transform 1s;
   ;
}
.progress2:before{
    content: "";
    width: 8px;
    height: 16px;
    background: #fae721;
    z-index: 22;
    position: absolute;
    left: 134px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    transition: transform 1s;
}
.progress3:before{
    content: "";
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 16px;
    height: 16px;
    background: #fae721;
    border-radius: 50%;
    z-index: 22;
    position: absolute;
    left: 140px;
    transition: transform 1s;
}
.progress3:after{
    content: "";
    width: 16px;
    height: 16px;
    z-index: 22;
    position: absolute;
    left: 135px;
    border-bottom: 16px solid #231f20;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 0;
    transform: rotate(84deg);
    transition: transform 1s;
}
.about{
    z-index: 1;
    display:grid;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-right: 20px;
    position: absolute;
    padding-top: 56.25%;
    margin-left: 50px;
}
.about-pos{
    display: grid;
    width: 100vw;
    height: 100vh;
    position: absolute;
    grid-template-columns: 1fr 1fr;
    
}
.foxabout {

/*    align-self: flex-start;*/

    display: grid;
    width: 100%;
/*    align-self: center;*/
    
}


.foxabout img{
    justify-self: end;
    height: 65%;
    margin-top: 67px;
    margin-left: 162px;
}


.text-about{
    display: grid;
    width: 70%;
    height:auto;
    align-self: center;
    margin-top: 40px;
    margin-left: 90px;
    font-size:21px;
    line-height:21px;
    
    
}

#img-about-me{
        z-index: 1;
        transition: 2s;
    display: grid;
    position: absolute;
    left: 0;
    width: 33%;
    height: auto;
    align-self: center;
    justify-self: start;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 17px;
    grid-column: 1;
    grid-row: 3;
    
    
}
#img-about-me:hover{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    transition: transform 1s;
}

.lastpage{
    display: grid;
    background-color: #AAD037;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 2fr 2fr 4fr;
}
.foxy2 {
    display: grid;
    width: 100%;
    height: auto;
    grid-column: 5/9;
    grid-row: 3;
}
.foxy2 img{
    width: 80%;
    height: auto;
    justify-self: end;
}

.lasttext{
    display: grid;
    grid-column: 2/5;
    grid-row: 3;
    font-size: 22px;
    line-height: 22px;
    justify-self: center;
    align-self: center;
    
}

/*
.face-contacts{
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 3;
}
*/

.icon1 {
    background-color: blue;
    grid-column: 3;
    grid-row: 2;
    width:100%;
    display: grid;
    
}

.fa-facebook-square {
    width: 100%;
    height: 100%;
    font-size: 10vw;
    background-color: aqua;
    justify-self: center;
}

.icon2 {
    background-color: blue;
    grid-column: 4;
    grid-row: 2;
    width:100%;
    display: grid;
    
}

.fab fa-twitter-square {
    width: 100%;
    height: 100%;
    font-size: 10vw;
    background-color: yellow;
    justify-self: center;
}

.icon3 {
    background-color: blue;
    grid-column: 5;
    grid-row: 2;
    width:100%;
    display: grid;
    
}

.fab fa-instagram {
    width: 100%;
    height: 100%;
    font-size: 10vw;
    background-color: aqua;
    justify-self: center;
}

.icon4 {
    background-color: blue;
    grid-column: 6;
    grid-row: 2;
    width:100%;
    display: grid;
    
}

.fab fa-twitter-square {
    width: 100%;
    height: 100%;
    font-size: 10vw;
    background-color: yellow;
    justify-self: center;
    font-size: 20%;
}

@media screen and (max-width:768px){
    .galerry {
            grid-template-columns: repeat(3, 1fr);
    }
    
    #menu :focus{
        color: black;
        background-color: transparent;
        transform: none ;
       }
    .nav-menu li {
        margin-right: 0;
        margin-top: 25px;
    }

}

